.font-1-s {
  font:
    100 clamp(1.5rem, 4vw, 2.1rem)/1 "Bree Serif",
    serif;
}
.font-1-ab {
  font:
    200 clamp(1.1rem, 2.5vw, 1.3rem)/1 "Inter",
    sans-serif;
  letter-spacing: -1.5px;
}
.font-2-ab {
  font:
    300 1.3rem/1 "Inter",
    sans-serif;
}
.font-1-ac {
  font:
    500 clamp(2.1rem, 7vw, 4rem)/1.2 "Inter",
    sans-serif;
}
.font-2-ac {
  font:
    300 clamp(1rem, 3vw, 1.4rem)/1.2 "Inter",
    sans-serif;
}
.font-3-ac {
  font:
    300 clamp(0.957rem, 2vw, 1.125rem)/1.2 "Inter",
    sans-serif;
}
.font-1-xs {
  font:
    400 clamp(1.25em, 7vw, 3.1em)/1.2 "Inter",
    sans-serif;
}
.font-2-xs {
  font:
    500 clamp(1.5em, 7vw, 2.225rem)/1.2 "Inter",
    sans-serif;
}
.font-3-xs,
.font-3-sx {
  font:
    400 clamp(0.55em, 7vw, 0.9em)/1.2 "Inter",
    sans-serif;
}
.font-1-sx {
  font:
    400 clamp(2.5em, 7vw, 4.5em)/1 "Inter",
    sans-serif;
  letter-spacing: -3px;
}
.font-2-sx {
  font:
    300 clamp(0.9em, 3vw, 1.65em)/1 "Inter",
    sans-serif;
}
.font-3-sx {
  letter-spacing: 1px;
}
.font-4-sx {
  font:
    300 clamp(0.55em, 7vw, 1.125em)/1.2 "Inter",
    sans-serif;
}
.font-1-xy {
  font:
    400 clamp(2.5em, 5vw, 3.25em)/1 "Inter",
    sans-serif;
}
.font-2-xy {
  font:
    300 clamp(1.1em, 3vw, 1.6em)/1 "Inter",
    sans-serif;
}
.font-3-xy {
  font:
    500 clamp(1.1em, 3vw, 2em)/1 "Inter",
    sans-serif;
}
.font-4-xy {
  font:
    300 clamp(0.875em, 3vw, 1.3em)/1 "Inter",
    sans-serif;
  letter-spacing: 1.5px;
}
.font-1-yx {
  font:
    500 clamp(0.765em, 3vw, 1.025em)/1 "Inter",
    sans-serif;
}
.font-2-yx {
  font:
    400 clamp(1.765em, 3vw, 2.75em)/1 "Inter",
    sans-serif;
}
.font-3-yx {
  font:
    400 clamp(0.65em, 3vw, 0.95em)/1 "Inter",
    sans-serif;
}
.font-4-yx {
  font:
    600 clamp(1em, 3vw, 2.225em)/1 "Inter",
    sans-serif;
}
.font-5-yx {
  font:
    600 clamp(0.45em, 2vw, 0.75em)/1 "Inter",
    sans-serif;
  text-transform: uppercase;
}
.font-1-ss {
  font:
    100 clamp(0.85rem, 4vw, 1.025rem)/1 "Bree Serif",
    serif;
}
.font-2-ss {
  font:
    300 clamp(0.75em, 3vw, 1.125em)/1.2 "Inter",
    sans-serif;
}
.font-3-ss {
  font:
    400 clamp(0.75em, 3vw, 1.025em)/1.2 "Inter",
    sans-serif;
}
.font-4-ss {
  font:
    400 clamp(0.65em, 7vw, 0.75em)/1.2 "Inter",
    sans-serif;
}
.font-1-bc {
  font:
    700 clamp(0.85rem, 4vw, 0.9rem)/1 "Inter",
    sans-serif;
}
.font-2-bc {
  font:
    100 clamp(1.3rem, 4vw, 1.825rem)/1 "Bree Serif",
    serif;
}
.font-3-bc {
  font:
    500 clamp(0.65em, 4vw, 1.025rem)/1 "Inter",
    sans-serif;
}
.font-4-bc {
  font:
    100 clamp(1.3rem, 4vw, 2.225rem)/1 "Bree Serif",
    serif;
}
