/*Content*/

.content-container {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0 40px 0 40px;
  max-width: 1500px;
  margin: clamp(10px, 3vw, 40px) auto;
}
.content-introduction {
  z-index: 1;
}
.content-introduction h1 {
  white-space: nowrap;
  margin-bottom: 20px;
}
.content-introduction p {
  max-width: 32ch;
  margin-bottom: 10px;
}
.content-img {
  width: clamp(100px, 100%, 1200px);
  transform: translateX(-150px);
}
.content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.btn1 {
  justify-self: start;
  padding: 10px 30px;
  background-color: var(--co-7);
  border-radius: 3px;
  transition: 0.3s;
}
.btn1:hover {
  background-color: #353436;
}
@media (max-width: 853px) {
  .content-container {
    justify-items: center;
    text-align: center;
  }
  .btn1 {
    justify-self: center;
  }
  .content-img {
    display: none;
  }
}
@media (max-width: 658px) {
  .btn1 {
    padding: 6px 15px;
  }
  .content-introduction h1 {
    white-space: initial;
    margin-bottom: 20px;
  }
}

/*Statistics*/
.statistics-container {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  padding: 50px 40px 50px 40px;
  max-width: 1500px;
  margin: 0 auto;
}
.statistics-title h2 {
  margin-bottom: 20px;
}
.statistics-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(10px, 3vw, 25px) clamp(10px, 3vw, 60px);
  text-align: center;
}
@media (max-width: 853px) {
  .statistics-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 371px) {
  .statistics-item {
    grid-template-columns: repeat(2, 1fr);
  }
}
